@import './variable.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
}

@each $color, $value in $button-colors {
  .button-#{$color} {
    background-color: $value;
  }
}
